assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
protected/config/*
images/docs_contratos/*
images/docs_equipos_licencias/*
images/docs_pc_ext/*
images/docs_pc_nac/*
images/docs_pc_reg/*
zip/*